<div class="product-card">
  <a href="{{ product.url }}">
    <img
      src="{{ product.featured_image | img_url: 'medium' }}"
      alt="{{ product.title }}"
      width="400"
      height="400"
      loading="lazy"
    >
    <h3>{{ product.title }}</h3>
    {% if customer %}
      {% assign has_discount = false %}
      {% if customer.tags contains 'wholesale' %}
        {% assign price = product.price | times: 0.7 %}
        {% assign has_discount = true %}
      {% elsif customer.tags contains 'retail' %}
        {% assign price = product.price | times: 0.85 %}
        {% assign has_discount = true %}
      {% else %}
        {% assign price = product.price %}
      {% endif %}

      <div class="price">
        {% if has_discount %}
          <span class="price--regular">{{ product.price | money }}</span>
          <span class="price--discount">{{ price | money }}</span>
        {% else %}
          <p>{{ price | money }}</p>
        {% endif %}
      </div>
    {% else %}
      <p>{{ product.price | money }}</p>
    {% endif %}
  </a>
</div>
