<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page_title }}</title>
    {{ content_for_header }}
    {{ 'theme.css' | asset_url | stylesheet_tag }}
  </head>
  <body>
    <div class="site-wrapper">
      {% section 'header' %}
      <main class="main-content">
        {{ content_for_layout }}
      </main>
      {% section 'footer' %}
    </div>
  </body>
</html>
<script src="{{ 'theme.js' | asset_url }}" defer></script>
